<!-- /* 템플릿페이지(layout2.html)에게 게시판 목록 관련 데이터 넘겨주는 역할 */ -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout2 :: layout(~{::title}, ~{::link}, ~{::section})}">

<!-- /*<head>, <body>태그 둘다 없어도됨 */ -->
  <title>게시판 목록</title> <!-- /* {::title}에 title 넘겨라*/ -->
  <!-- 현재 페이지에 추가적인 css 파일 포함 -->
  <link rel="stylesheet" th:href="@{/css/board.css}"> <!-- /* {::link}에 link 넘겨라*/ -->
  <script th:src="@{/js/board.js}"></script> <!-- /* /는 현재 ststic폴더위치를 나타냄(script fragment처리안되있어서 안넘어감) */ -->


  <section>
    <h2>게시판 목록 보여주기 화면</h2>
    게시판 목록 관련 동적 컨텐츠들....
  </section>

</html>
